∏body{
	margin:0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;;
}

img{

  width: 100%;

}
.nav {
	margin:0px;
	width: 100%;
	background:rgba(0,0,0,0.8);
	color: white;
	font-size: 14px;
	font-weight: 400;
	position: fixed;

}

.logo{
	max-width: 80px;
}

ul{
	
	list-style: none;
	
}

.nav-bar{ 
  width: 100%;
  display: flex;
  justify-content: space-around;  
  align-items: center;
  padding: 0px 15px;
  margin: 0;

}

.list-item, .menu, .logo{
	cursor: pointer;
	padding: 0px 10px;
	transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.list-item:hover{
	opacity: .6;
}

.imagen-central{
	width: 100%;
  height:50%;
	
	
}

.imagenes-peques {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.imagenes-peques img {
	width: 100%;
	padding:1px;
  box-sizing: border-box;
  overflow: visible;
}

.caja-imagenes {
	
	width: 25%;
}
.caja-imagenes:first-child {
	border-left: 0px;
}

.caja-imagenes:last-child {
	border-right: 0px;
}

footer{
  font-size: 11px;
    line-height: 1.45455;
    font-weight: 400;
    letter-spacing: .005em;
    background-color: #f2f2f2;
    color: #333;
}

.directory-five-columns{
  position: relative;
  display: flex;
  flex-flow: column-wrap;
  padding-left: 25%;
  


}

.columna-footer.dos.tres.cuatro.cinco{
  box-sizing: border-box;
    position: relative;
    margin: 0;
    margin-right: 20px;
    padding: 20px;
    
  
}


.pie-footer{
  margin-left: 27%;
  padding: 20px;
  border-bottom: 1px solid #d6d6d6;
}

.footer-legal{
  margin-left: 27%;
  padding: 12px;
}



@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {

div.nav {
  color: red;
  font-family: sans-serif;
}



}


@media (max-width: 768px) {

  	.menu, .logo{

  		display:block;
  		width:auto;
  		padding: 5px, 10px;


  	}
  	.menu{
  		position: relative;
  		right: -80px;
  	}
  	li.list-item{
  		display: none;
  		width: 100%
  		padding:10px ;
  		
  	}
      

  }
@media  (max-width: 450px) {

  	div.nav{
  		padding: 0;
  	}

  	ul.nav-bar{
  		flex-wrap: wrap;
  		width: 100%;
  	}

  	li.list-item{
  		width: 100%
  		padding:10px ;
  	}	
}


@media (max-width: 320px) {

  	.directory-five-columns, .pie-footer{
  		padding-left: 0;
  		margin: 0;
  		flex-direction: column;
  		
  	}

	footer{
	display: flex;
     flex-direction: column;
     
    }


  }


